* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* ========== Variable CSS ========== */
:root{
   --black: #1E1E1E;
   --white: #FFFFFF;
}

/* ========== Style global ========== */
html {
   scroll-behavior: smooth;
}

body{
   width: 100;
   height: 100vh;
   background-color: var(--black);
}

ul {
   list-style: none;
}

a{
   text-decoration: none;
}

h1,
h2,
h3,
a,p{
   color: var(--white);
}

h1,h2,h3{
   font-family: 'Playfair Display', sans-serif;
}

a,p {
   font-family: 'Source Sans Pro', sans-serif;
}

img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border: none;
}

/* ========== Header ========== */
.header {
   /* display: none; */

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 0;
   text-align: center;
   background-color: var(--black);
   z-index: 100;
}

.logo-title{
   font-size: 42px;
}

.sub-title{
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 20px;
   margin-top: -7px;
}
/* ========== Section ========== */
main{
   width: 100%;
   padding: 150px 20px 80px;
}

.section {
   width: 100%;
   margin: 20px 0 80px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.section-title{
   margin-bottom: 20px;
}

.section-content {
   max-width: 1000px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

figure {
   width: 350px;
   height: 350px;
   background-color: #CCC;
}

/* ========== Footer ========== */


/* ========== Responsive ========== */
@media screen and (min-width: 640px) {
   .header {
      padding: 50px 0;
   }
   
   main{
      padding: 200px 20px 80px;
   }
}

@media screen and (min-width: 800px) {
   figure {
      filter:  grayscale(1);
      transition: all .7s;
   }

   figure:hover {
      filter:  grayscale(0);
   }
}

/* ====== Preloader and Animation ======*/
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fff; 
   z-index: 9999;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   transition: opacity 0.5s 1s ease; 
}

.preloader-logo,
.preloader-subtitle {
   position: relative;
   color: var(--black);
}

.preloader-logo{
   font-size: 52px;
}

.preloader-subtitle{
   font-size: 24px;
   margin-top: -7px;
   font-family: 'Source Sans Pro', sans-serif;
}

.preloader-logo::after,
.preloader-subtitle::after{
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--black);
   transition: all 0.7s;
}

.preloader-subtitle::after{
   transition: all 1s;
}

.loaded .preloader-logo::after,
.loaded .preloader-subtitle::after{
   width: 0;
}

.header {
   opacity: 0; 
   transition: opacity 1s 2.25s ease; 
}

main {
   margin-top: 50%;
   opacity: 0; 
   transition: all 1s 2.5s ease;
}

.loaded .preloader {
   opacity: 0;
}

.loaded .header {
   opacity: 1;
}

.loaded main {
   margin-top: 0;
   opacity: 1;
}

.modal {
display: none;

   position: fixed;
   z-index: 3;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
   /* filter: blur(8px); */
   display: flex;
   justify-content: center;
   align-items: center;
}

.box {
   z-index: 5;
   max-width: 1000px;
   height: 600px;
   background-color: var(--black);
   display: flex;

}

.box-left{
   width: 500px;
   height: 350px;
   margin: auto;
}

.box-right{
   width: 40%;
   margin: auto;
   background: green;
}

.box-title {
   font-size: 32px;
}

.box-desc {
   margin: 20px 0;
}

.box-btn{
   display: inline-block;
   padding: 10px 20px;
   border-radius: 20px;
   border: 3px solid white;
   color: white;
}